# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Antigravity Generated
/artifacts

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Boot & Env
.env
.env.*
!.env.example
secrets.properties

# IDEs
.idea
.vscode
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/
.DS_Store
